.HPSubmitConatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 108, 194);
    width: 100vw;
    height: 8rem;
    position: sticky;
    z-index: 3;
    top: 0;
}

.HPMenu{
    color: white;
    font-size: 3.5rem;
    left: 1.5rem;
    position: absolute;
}

.HPInput{
    height: 45px;
    width: 300px;
    border-radius: 1rem;
    margin: 10px;
    color: black;
}

.HPSubmit{
    height: 45px;
    border-radius: 1rem;
    margin: 10px;
    background-color: black;
}

.HPButton{
    width:80px;
    height: 35px;
    border-radius: 1rem;
    margin: 10px;
    background-color: black;
    padding: 5px;
    font-size: small;
}

.HPActive{
    background-color: rgb(120, 247, 120);
}

.HPDeactive{
    background-color: rgb(177, 174, 174);
}

table{
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

tr{
    margin: 10px;
    border-style: solid;
}

th{
    height: 50px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

td{
    height: 50px;
    text-align: center;
    font-size: medium;
    font-weight: 600;
}

.HPFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 300px;
    height:100vh;
    background-color: rgb(177, 174, 174);
    left: 0;
    top: 8rem;
    position: fixed;

}

.HPTable{
    display: flex;
    justify-content: center;
    z-index: 1;
    padding-top: 2rem;

}




