.HPContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.HPInput{
    height: 40px;
    width: 300px;
    border-radius: 1rem;
    margin: 10px;
    color: black;
}

.HPSubmit{
    height: 40px;
    border-radius: 1rem;
    margin: 10px;
}

.HPNameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}